.hunterhacks{
    padding: 0px;
}

.hh_title{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}


.hh_subtitle{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    /* padding: 0px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.hh_text{
    width: 100%;
    
    font-family: 'Pixelify Sans', cursive;
    font-size: 18px;
}

@media (min-width: 640px)
{
    .hh_text{
        font-size: 20px;
    }
    .hh_subtitle{
        padding: 50px;

    }
    
}
@media (min-width: 1300px)
{
    .hh_text{
        font-size: 25px;
    }
    .hh_subtitle{
        padding: 50px;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width: 1800px)
{
    .hh_text{
        font-size: 25px;
    }
    .hh_subtitle{
        padding: 50px 200px;
        grid-template-columns: 1fr 1fr;
    }
    
}


.subtitle_item{
    display: grid;
    align-items: center;
    justify-items: center;
}

.birds{
    height: 15vh;
    width: auto;
}

.button{
    font-family: 'Pixelify Sans', cursive;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: auto;
    background-color: #1CA917;
    color: white;
    text-decoration: none;
    padding: 5%;
    border-radius: 15px;
    margin-top: 50px;
}

.button a {
    text-decoration: none; 
    color: inherit; 
    transition: color 1s ease;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
  }
  
  .button:hover a {
    color: black; 
  }