#under-front, 
#under-side,
#side,
#Front
{
    animation: moveRight 2s forwards;
}

#Logo{
    width: 90vw;
    height:auto;
}

@keyframes moveRight{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(28%);
    }
}