@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.trainbar{
    display: none;
}

@media (min-width:640px)
{
    .trainbar{
        position: sticky;
        top: 0;
        height: 100vh;

        display: flex;
        flex-direction: column;

        justify-content: center;


        width: 130px;
        margin-left: 3rem;
    }
    
}

.trainbar-header{
    font-size: 35px;

    font-family: 'Pixelify Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    color:#1CA917;
    z-index: 2;
}

.trainbar-item{
    display: flex;
    align-items: center;

    height: 6rem;
    width: 500px;
    position: relative;

    gap:.25rem;
}


.trainbar-item p{
    color: #F1F1FF;
    margin: 0;
    line-height: 1;
    
    font-size: 20px;

    font-family: 'Pixelify Sans', sans-serif;

    
}


.trainbar-div{
    background-color: #1CA917;
    
    height: 100%;
    width: 13px;
    min-width: 13px;

    z-index: 0;
}


.trainbar-stop
{
    position: absolute;


    width: 18px;

    pointer-events: none; /* lets clicks pass through to content if needed */
    z-index: 2;
}


.trainbar-stop-icon
{
    fill: black;
    transition: fill 200ms ease;
}

.trainbar-stop-icon-active
{
    fill:  #fcd34d;
}

.trainbar-item:hover p
{
    color: #FFD166; 
}





.trainbar-front-div{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.trainbar-back-div{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;    
}

