.base-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;          
    font-size: 20px;
    line-height: normal;        
    letter-spacing: 0;
    text-align: center;           
    vertical-align: middle;    
    
    display: inline-block;
    width: fit-content;

    margin: 0px;
    color: white;
}

.service-div,
.date-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: .75rem;
}

.service-div{
    background-color: black;
}

.date-div{
    background-color: #8A30FF;
}

.day{
    width: 100%;
max-width: 25rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color: #B5B5B5;
}

.activities-div{
    background-color: #ffffff;
    
    min-height: 23rem;

    width: 100;

    padding: 1rem 1rem 0rem;
}

.activities-div p{
    color: black;
}

.activity{
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.activity-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
  }
  
  .activity-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin: 0;
    line-height: 1.4;
    margin-top: 4px;
  }